/*  #region BASE STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent-color: #02897a;
  --main-color: #22343d;
}
body {
  font-family: "Poppins";
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
}

/*  it is mistake mb, i can't remember what it was made for
svg {
  height: 32px;
  width: 32px;
} */

img {
  display: block;
}

.container {
  max-width: 1110px;
  padding: 0 20px;
  margin: 0 auto;
}

/* #endregion BASE STYLES */

/* #region header */

header a {
  color: var(--main-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.product-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 93%;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-nav-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  padding-right: 73px;
}

.header-nav-list li {
  padding: 26px 0;
}

.header-btn {
  display: flex;
  gap: 21px;
  align-items: center;
}

.btn-signin-header {
  background-color: inherit;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  height: 42px;
  width: 105px;
}

.btn-signup-header {
  background-color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  height: 42px;
  width: 113px;
}
/* #endregion header */

/* #region SECTION HERO */

.hero-container {
  display: flex;
  align-items: center;
  gap: 31px;
}

.hero-interactive {
  max-width: 467px;
}

.title-hero {
  color: var(--main-color);
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  margin: 0 0 18px 0;
}

.text-hero {
  color: var(--main-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  margin-bottom: 45px;
  padding-bottom: 11px;
}

.hero-btn-link {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn-getstart {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: var(--accent-color);
  border-radius: 4px;
  width: 178px;
  height: 53px;
}

.link-watchtvid {
  color: var(--accent-color);
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 9px;
}

/* .hero-img {
  display: block;
  width: 610px;
  height: auto;
} */

/* #endregion SECTION HERO */

/* #region section For You */

.for-you-container {
  padding-bottom: 50px;
}

.title-for-you {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: var(--main-color);
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 50px;
}

.features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.features li {
  max-width: 255px;
}

.features svg {
  margin-bottom: 26px;
}

.title-of-feature {
  color: var(--main-color);
  font-weight: 600;
  font-size: 22px;
  margin: 0 0 13px 0;
}

.text-of-feature {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  margin: 0;
}

.btn-signup-foryou {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: var(--accent-color);
  border-radius: 4px;
  width: 175px;
  height: 53px;
  display: block;
  margin: 0 auto;
}
/* #endregion section For You */

/* #region section Management */

.management-container {
  display: flex;
  justify-content: space-between;
  padding-top: 82px;
  align-items: center;
}

.left-side-management {
  max-width: 486px;
}

.left-side-management li:not(:last-child) {
  margin: 0 0 30px 0;
}

.left-side-management h3 {
  margin: 0 0 12px 0;
}

.left-side-management h3 {
  margin: 0 0 12px 0;
}

.title-management {
  font-weight: 700;
  font-size: 32px;
  color: var(--main-color);
  margin: 0 0 18px 0;
}

.text-management {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--main-color);
}

/* #endregion section Management */

.customer-container {
  padding-top: 68px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.right-side-support {
  max-width: 452px;
}

.text-support {
  font-weight: 600;
  font-size: 16px;
  color: var(--main-color);
  margin-bottom: 8px;
}

.title-support {
  color: var(--main-color);
  font-weight: 700;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.scnd-text-support {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  margin-bottom: 30px;
}

.right-side-support ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.right-side-support ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.point-text-support {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}

.collaborative-container {
  padding-top: 23px;
}

.text-collaborative {
  color: var(--main-color);
  font-weight: 600;
  font-size: 16px;
}

.title-collaborative {
  color: var(--main-color);
  font-weight: 700;
  font-size: 32px;
}

.scnd-text-collaborative {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}

.sbtitle-collaborative {
  color: var(--main-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
}

.point-text-collaborative {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}

.box-customer {
  background-color: #d9d9d9;
  height: 20px;
  width: 100%;
}

/* #region section Easy Process */

.title-easy-process {
  color: var(--main-color);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.easy-process {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
}

.point-text-process {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
}

.btn-contact-expert {
  width: 216px;
  height: 53px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: var(--accent-color);
}

/* #endregion section Easy Process */

/* #region section Strategies */

.title-strategies {
  color: var(--main-color);
  font-weight: 700;
  font-size: 34px;
}

.text-strategies {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
}

.point-text-strategies {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
}

.name-accent {
  font-weight: 700;
}

.sbttitle-strategies {
  color: var(--main-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
}

/* #endregion section Strategies */

/* #region section Price */

.title-price {
  color: var(--main-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
}

.text-price {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
}

.title-card {
  color: var(--main-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
}

.text-card {
  font-family: "Monserrat" sans-serif;
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
}

.price-number-card {
  font-family: "Monserrat" sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 132%;
  letter-spacing: 0em;
  text-align: center;
  color: var(--accent-color);
}

.dollar-sign {
  font-family: "Inter";
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0em;
}

.month {
  font-family: "Monserrat" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  letter-spacing: 0.01em;
  color: #afafaf;
}

.explain-price-items {
  color: var(--main-color);
  font-family: "Monserrat" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  letter-spacing: 0.01em;
}

.btn-price-order-now {
  font-family: "Monserrat" sans-serif;
  color: #fff;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background-color: var(--accent-color);
}

/* #endregion section Price */

/* #region CLIENTS SAY */

.title-cliets-say-sectoin {
  color: var(--main-color);
  font-weight: 700;
  font-size: 32px;
  line-height: 178%;
  letter-spacing: 0.01em;
}

.text-cliets-say-section {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  text-align: center;
}

.text-comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  color: #737373;
}

.user-name {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.profession {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  color: #252b42;
}

/* #endregion CLIENTS SAY */

/* #region JOIN HUNDRED */

.card-join-100-section {
  border-radius: 32px;
}

.title-join-100-section {
  font-weight: 600;
  font-size: 32px;
  line-height: 151%;
  color: #fff;
}

.card-join-100-section {
  background-color: var(--accent-color);
}

.btn-get-this {
  height: 50px;
  width: 150px;
  background-color: #fff;
  color: var(--accent-color);
  font-weight: 600;
  font-size: 20px;
  border-radius: 8px;
}

/* #endregion JOIN HUNDRED */

/* #region Footer */

footer a {
  color: var(--main-color);
}
.bottom-nav-title {
  color: var(--main-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.bottom-nav-list {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 219%;
}

.bottom-nav-title-second {
  color: var(--main-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.bottom-nav-list-second {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 219%;
}

.bottom-text-deal {
  color: var(--main-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

/* form input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  background-color: #fff;
} */

.btn-bottom-sign-up {
  border-radius: 4px;
  width: 131px;
  height: 39px;
  color: #fff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.end-text {
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
}

/* #endregion Footer */
